{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "build/infection/infection.log",
        "summary": "build/infection/summary.log",
        "perMutator": "build/infection/per-mutator.md"
    },
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            "xml_parser_set_option"
        ],
        "@default": true
    },
    "testFramework": "phpunit",
    "testFrameworkOptions": "--do-not-cache-result",
    "initialTestsPhpOptions": "-d xdebug.mode=coverage"
}
